<section class="testimonial-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <h2>Cultivating Stronger Relationships</h2>
                <p>We will provide the best value for our customers so that they can in turn provide the same for their customers. Value is found in honest and pleasant relationships, convenient and simple ordering, fair pricing, and of course, the best plants.</p>
            </div>
            <div class="col-xl-8">
                <div class="testimonial-active owl-carousel">
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            Plants look fantastic!!!! Great Job! And the HB… 100%
                        </div>
                        <h4>Daniel Remillard</h4>
                        <span>St. Leon Garden Centre</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            Ordering from Vanstone's gives you the peace of mind that quality is #1 and delivery is on time! Let Vanstone's get you ready for the best season you've ever had!
                        </div>
                        <h4>Jim Solomon</h4>
                        <span>Solomon's Home Garden Gift Portage la Prairie, MB</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            Good Morning, I wanted to let you know that your plants are beautiful
                        </div>
                        <h4>Susan Bishop</h4>
                        <span>The Rock, Winnipeg, MB</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            How wonderful to get home from work today and see all the beautiful flowers. Truly, it was what I needed today and the fundraiser will be received much better with your hanging baskets. THANKS so much for the service and amazing plants.
                        </div>
                        <h4>Kelly Reid-Ward</h4>
                        <span>Kelly's Greens, Kincaid, SK</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            Thanks again for such awesome looking material. Always pleasure to do business with you. Hard to believe it's been over 20 years and counting!
                        </div>
                        <h4>Newell Johnston</h4>
                        <span>Prairie Gardener Greenhouses Inglis, MB</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            I just wanted to let you know that everything arrived looking great. I always expect to get quality product from you, but the herbs exceeded my expectations. They are amazing!
                        </div>
                        <h4>Andrew Fehr</h4>
                        <span>Sunshine Nursery & Greenhouse</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            I just wanted to say how impressed I was by your driver. It was muddy and not perfect conditions and he still unloaded with gusto, very accommodating.
                        </div>
                        <h4>Donna Chandler</h4>
                        <span>The Green Spot, Brandon, MB</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            Thanks for the delivery of so many great looking perennials and shrubs. Thanks again for being so efficient, accommodating, and cheerful. Truly a pleasure to work with you every time!
                        </div>
                        <h4>Newell and Shannon Johnson</h4>
                        <span>Prairie Gardener Greenhouses, Inglis, MB</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            I received my order yesterday I have one word AWESOME. Thanks for the great service and beautiful looking plants.
                        </div>
                        <h4>Corinne Bartalotta</h4>
                        <span>Greenthumbs, Geraldton, ON</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            The plants arrived - in the usual fine shape! Thank you.
                        </div>
                        <h4>Carol Bender</h4>
                        <span>Beausejour Daylily Park, Beausejour, MB</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            Thanks for the chat today. I wanted you to know that the quality of the entire order is excellent. Thank you.
                        </div>
                        <h4>Stephen Raven</h4>
                        <span>Hole's, St. Albert, AB</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            A 2 hour turn around from order to delivery at this time of year is incredible! That helped us out immensely for this weekend. Thanks for the great service!
                        </div>
                        <h4>Brian Twomey</h4>
                        <span>T&T Seeds, Winnipeg, MB</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            Hi! Thanks for the awesome service and product.
                        </div>
                        <h4>Kelly Reid-Ward</h4>
                        <span>Kelly's Greens, Kincaid, SK</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            We have not found a supplier of perennials and shrubs that surpasses Vanstone in overall quality. They also have a great track record with us for reliable and prompt service.
                        </div>
                        <h4>Erna Wiebe</h4>
                        <span>Oakridge Greenhouse & Garden Centre Steinbach, MB</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>