<section class="testimonial-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testimonial-active owl-carousel">
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            Plants look fantastic!!!! Great Job! And the HB… 100%
                        </div>
                        <h4>Daniel Remillard</h4>
                        <span>St. Leon Garden Centre</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            Ordering from Vanstone's gives you the peace of mind that quality is #1 and delivery is on time! Let Vanstone's get you ready for the best season you've ever had!

                        </div>
                        <h4>Jim Solomon</h4>
                        <span>Solomon's Home Garden Gift Portage la Prairie, MB</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            Good Morning, I wanted to let you know that your plants are beautiful
                        </div>
                        <h4>Susan Bishop</h4>
                        <span>The Rock, Winnipeg, MB</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            How wonderful to get home from work today and see all the beautiful flowers. Truly, it was what I needed today and the fundraiser will be received much better with your hanging baskets. THANKS so much for the service and amazing plants.
                        </div>
                        <h4>Kelly Reid-Ward</h4>
                        <span>Kelly's Greens, Kincaid, SK</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>