---
layout: default
---
{% include header.html %}
<main> 
<section class="plant-info pt-70 pb-35">
    <div class="container">
        <div class="row">
            <div class="col col-sm-12">

                {% if page.picture %}
                <p><img src="{{ page.picture }}" alt="{{ page.name | downcase }}" class="img-fluid"></p>
                {% endif %}
            </div>

            <div class="col col-sm-12">
                <h1>{{ page.botanical-name }}</h1>
                <p>{{ page.description }}</p>

                <div class ="product-meta">
                    <p>Exposure: {{page.exposure}}<br>Hardiness: {{page.hardiness}}</p>
                    
                </div>

            </div>                
        </div>
    </div>
</section>
</main>